.header{
  font-size: 35px !important;
  width: 100% !important;
  margin-top: 0; 
}

.note{
  color: orange;
  font-size: 20px;
}

body{
  background-size: cover;
}

button{
  margin-top: 10px;
  font-size: 20px !important;
  width: 150px;
  background-color: #f0ad4e;
  border-radius: 10px;
}

.reset{
  background-color: #5bc0de;
}

.q{
  margin-top: 50px;
  width: 500px !important;
}

.error{
  color: 	red;
  font-size: 20px;
}

.result{
  color: 	red;
  font-size: 20px;
}